<ion-content padding text-center class="body">

    <ion-grid>

        <ion-row>
            <ion-col class="top-20">
                <img src="../../assets/imgs/Logo.svg">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col id="title">
                <h3>SellerGo</h3>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>

                <ion-item id="email">
                    <ion-label floating>Correo</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>

                <button (click)="signInWithGoogle()" id="btnContinue" ion-button color="email" block>
                    <ion-icon name="email"></ion-icon>
                    Continuar
                </button>

                <h5>o</h5>

                <button (click)="signInWithGoogle()" ion-button color="google" icon-left round>
                  <ion-icon name="logo-google"></ion-icon>
                  Google
                </button>

                <button (click)="signInWithFacebook()" ion-button color="facebook" icon-left round>
                  <ion-icon name="logo-facebook"></ion-icon>
                  Facebook
                </button>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>