page-login {
    .body {
        background: #283747;
        color: white;
    }
    img {
        width: 150px;
    }
    #title {
        margin-top: 5%;
    }
    .top-20 {
        margin-top: 20%;
    }
    #email {
        background: #283747;
        color: #dcdde1;
        border-radius: 3px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #btnContinue {
        display: inline-block;
        width: 80%;
    }
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: white; //label color when focusing
    }
}