<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <ion-item>
            <ion-avatar item-start>
                <img src="{{ userProvider.user.picture }}">
            </ion-avatar>
            <h2>{{ userProvider.user.name }}</h2>
            <p>{{ userProvider.user.email}}</p>
        </ion-item>

        <ion-card-content>
            <p *ngIf="userProvider.user.type == 0">Hola, bienvenido a SellerGo, has iniciado como cliente, tú token es {{ userProvider.user.token }}.</p>
            <p *ngIf="userProvider.user.type == 1">Hola, bienvenido a SellerGo, has iniciado como vendedor, tú token es {{ userProvider.user.token }}.</p>
        </ion-card-content>

    </ion-card>

</ion-content>